#latest{
	-webkit-transform: rotate(-20deg);
	-webkit-box-shadow: 0 0 5px #000;
	box-shadow: 0 0 5px #000;
	border: 10px solid #FFF;
	margin-top: 50px;
	display: none;
}


#compassholder{
    padding: 0;
    border: 15px solid #08c;
    -webkit-border-radius: 515px;
    position: absolute;
    left: 50%;
    margin-left: -515px;
    top: 35%;
    height: 1000px;
    width: 1000px;
    border-radius: 515px;
    -webkit-box-shadow: 0 -3px 5px #ccc;
    box-shadow: 0 -3px 5px #ccc;
    z-index: 1;
}

#compass{
    -webkit-transition: -webkit-transform .3s ease-in; /* easeInOutQuad */
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
}


#compass{
    display: block;
    margin-top: -5px;
    margin-left: -5px;
    -webkit-border-radius: 515px;
    border-radius: 515px;
    padding: 0;
    list-style: none;
    height: 1000px;
    width: 1000px;
    z-index: 2;

    
    
}



#compass li{
    padding: 0;
    margin: 0;
    text-shadow: 0px 2px 3px #aaa;
    font-size: 11em;
    display: block;
    width: 20%;
    height: 20%;
    text-align: center;
    position: absolute;
    line-height: 1.0;
}
#N{
    left: 40%;
    top: 0;

}

#NE{
    right: 12.5%;
    top: 12.5%;
     -webkit-transform: rotate(45deg);
}


#E{
    right: 0;
    top: 40%;
     -webkit-transform: rotate(90deg);
}

#SE{
    right: 12.5%;
    bottom: 12.5%;
     -webkit-transform: rotate(135deg);
}

#S{
    left: 40%;
    bottom: 0;
    -webkit-transform: rotate(180deg);
}

#SW{
    left: 12.5%;
    bottom: 12.5%;
     -webkit-transform: rotate(225deg);
}

#W{
    left: 0;
    top: 40%;
     -webkit-transform: rotate(270deg);
}

 #NW{
    left: 12.5%;
    top: 12.5%;
    -webkit-transform: rotate(315deg);
}